body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche un éventuel débordement */
    z-index: 1;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #c9d7f1, #f9fafc);
    z-index: -1;
    top: 0; /* On s'assure que particles.js commence tout en haut de la page */
    left: 0;
    /* pointer-events: auto !important; */
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.banner img.logo {
    max-width: 300px;
    margin-bottom: 10px;
    display: block; /* Évite les marges invisibles */
    margin-top: 0;
    padding-top: 0;
}

.banner h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.container {
    padding-top: 0 !important; /* Enlève tout espace au-dessus du contenu */
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    z-index: 10;  /* La navbar doit être au-dessus de particles.js */
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar .nav-item {
    margin-right: 20px;
}

.navbar .nav-link,
.navbar .btn {
    font-size: 14px;
    white-space: nowrap;
    padding: 8px 16px;
}

.navbar .navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar .btn {
    margin-left: 10px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
}

.navbar-nav .nav-item .btn:hover {
    background-color: #0056b3;
}

/* Pour que le contenu ne soit pas caché sous la navbar */
body {
    padding-top: 80px;
}

/* Barre de navigation : couleurs et hover */
.navbar-nav .nav-item .nav-link:hover {
    color: #007bff; /* Couleur de survol des liens */
}

.navbar-nav .nav-item .btn:hover {
    background-color: #0056b3; /* Changer la couleur de fond des boutons au survol */
}
