/* Navbar */
.navbar {
    background-color: #ffffff;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 4px 8px en rem */
    padding: 0.625rem 1.25rem; /* 10px 20px en rem */
    z-index: 2;
    position: fixed;
    background: transparent;
}

/* Espacement des boutons de la navbar */
.navbar .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.25rem; /* 20px en rem */
    margin-left: auto;
    margin-right: 12.5vw; /* Utilisation de vw pour ajuster l'espace à droite */
}

/* Espacement entre chaque bouton */
.navbar .nav-item {
    margin-right: 1em; /* Utilisation de em pour un espacement relatif */
}

/* Navbar - Liens et boutons */
.navbar .nav-link,
.navbar .btn {
    font-size: 0.875rem; /* 14px en rem */
    padding: 0.5em 1.25em; /* Réduit un peu l'espace vertical */
    white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */
    overflow: hidden; /* Évite le débordement si le texte est trop long */
    text-overflow: ellipsis; /* Ajoute des "..." si le texte déborde */
    display: flex; /* Utilise flexbox pour aligner le texte */
    justify-content: center; /* Centre le texte horizontalement */
    align-items: center; /* Centre le texte verticalement */
}

